body {
    text-align: justify;
}

.headline-banner {
    background-color: #31de79;
}

.headline-banner h4 {
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-weight: 600;
}

.list-bullet-color {
    list-style: none;
}

.list-bullet-color li::before {
    content: "\2022";
    color: #31de79;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.ftco-footer {
    padding: 30px 0;
}

.ftco-footer p {
    margin-bottom: 0;
}

.services-wrap h2 {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 20px;
        display: block;
        margin: 0 auto;
    }
    .ftco-navbar-light .navbar-toggler {
        display: block;
        margin: 0 auto;
    }
}

.btn-section {
    text-align: center;
}

#services .tab-content .tab-pane i {
    color: #31de79;
    font-size: 50px;
    margin-bottom: 20px;
}

#contactus .icon i {
    color: white;
    font-size: 34px;
}

.js-fullheight1 {
    height: 700px !important;
}

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y !important;
    touch-action: pan-y !important;
}


/* Vertical Tabs */

.vertical-tab {
    font-family: 'Montserrat', sans-serif;
    display: table;
    padding-left: 10px;
}

.vertical-tab .nav-tabs {
    width: 25%;
    min-width: 25%;
    border: none;
    box-shadow: -6px 0 0 rgba(0, 0, 0, 0.1);
    vertical-align: top;
    display: table-cell;
}

.vertical-tab .nav-tabs li {
    float: none;
}

.vertical-tab .nav-tabs li a {
    color: #444;
    background: #ddd;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 7px 9px;
    margin: 0 0 20px -10px;
    border-radius: 0 20px 20px 0;
    border: none;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover {
    color: #fff;
    background: #7E6A63;
    border: none;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.vertical-tab .nav-tabs li a:before {
    content: '';
    background: linear-gradient(to top right, transparent 50%, #333 50%);
    height: 10px;
    width: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
}

.vertical-tab .tab-content {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 21px;
    padding: 15px 15px 15px 20px;
    display: table-cell;
}

.vertical-tab .tab-content h3 {
    color: #7E6A63;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 7px;
}

@media only screen and (max-width: 479px) {
    .vertical-tab .nav-tabs {
        width: 100%;
        display: block;
    }
    .vertical-tab .nav-tabs li a {
        padding: 10px 10px 9px;
        margin: 0 0 12px -10px;
    }
    .vertical-tab .tab-content {
        font-size: 14px;
        display: block;
    }
}