body p {
    text-align: justify;
}

.heading-section p,
.text-center p {
    text-align: center;
}

.headline-banner {
    background-color: #31de79;
}

.headline-banner h4 {
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-weight: 600;
}

.list-bullet-color {
    list-style: none;
}

.list-bullet-color li::before {
    content: "\2022";
    color: #31de79;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.ftco-footer {
    padding: 30px 0;
}

.ftco-footer p {
    margin-bottom: 0;
}

.services-wrap h2 {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 20px;
        display: block;
        margin: 0 auto;
    }
    .ftco-navbar-light .navbar-toggler {
        display: block;
        margin: 0 auto;
    }
}

.btn-section {
    text-align: center;
}

#services .tab-content .tab-pane i {
    color: #31de79;
    font-size: 50px;
    margin-bottom: 20px;
}

#contactus .icon i {
    color: white;
    font-size: 34px;
}

.js-fullheight1 {
    height: 700px !important;
}

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y !important;
    touch-action: pan-y !important;
}

.logo {
    width: 200px;
}

.careers {
    padding: 80px 0;
}

.careers .nav-pills .nav-link {
    color: #31de79;
    font-size: 22px;
    font-weight: 600;
}

.careers .nav-pills .nav-link.active,
.careers .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #31de79;
}


/* Clients */

.clients {
    padding: 140px 0 80px;
}

.client-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.client-img-grid img {
    filter: grayscale(100%);
    transition: 0.3s;
}

.client-img-grid img:hover {
    filter: grayscale(0%);
}

.ftco-footer-widget i {
    margin-right: 5px;
}

.owl-carousel.home-slider {
    padding-top: 92px;
}

.ftco-navbar-light {
    background: white !important;
    box-shadow: 1px 1px 5px 0px #ccc;
}